$font-stack: ' montseratt ', sans-serif;
$primary-color: #333;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font: $font-stack;
  padding-top: 2rem;
  background: rgb(46, 39, 162);
  background: linear-gradient(
    180deg,
    rgba(46, 39, 162, 1) 0%,
    rgba(80, 80, 242, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.app {
  color: $primary-color;
  text-align: center;
  height: 100vh;
}
.container-trans {
  background-color: rgba(255, 250, 250, 0.5);
  padding: 3rem;
  border-radius: 5px;
  height: 95vh;
}
.router-link {
  text-decoration: none;
  color: $primary-color;
}
